/* the css code below is for the shop page only */
#shop-now {
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    color: #333;
}
.product-grid {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
.product {
    border: 1px solid #ccc;
    padding: 10px;
    background: white;
    width: 200px;
    text-align: center;
    border-radius: 5px;
}
.product img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.product button {
    background: #908c2a;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    margin: 5px;
}
.product button:hover {
    background: #706c1e;
}
#scrollToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #908c2a;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  